- put ||= false
- if meeting.nil?
	- name = ""
	- description = ""
	- start_date = ""
	- start_time = ""
	- end_date = ""
	- end_time = ""
	- location = ""
	- location_instructions = ""
	- suggested_donation = ""
- else
	- name = meeting.name || ""
	- description = meeting.description || ""
	- start_date = meeting.start_date || ""
	- start_time = meeting.start_time || ""
	- end_date = meeting.end_date || ""
	- end_time = meeting.end_time || ""
	- location = meeting.location || ""
	- location_instructions = meeting.location_instructions || ""
	- suggested_donation = meeting.suggested_donation || ""

.form{:action => action, :method => "POST", :data => {:abide => true}}
	%input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}

	- if put
		%input{:type => "hidden", :name => "_method", :value => "PUT"}

	.row
		.small-12.column.meeting-name-field
			%label
				Meeting name
				%small Required, maximum 50 characters
				%input{:type => "text", :name => "meeting[name]", :value => name, :required => true}
				%small.error Name is required

	.row
		.small-12.column.meeting-description-field
			%label
				Description
				%small Required, maximum 500 characters
				%textarea{:name => "meeting[description]", :value => description, :placeholder => "What's this meeting about?", :required => true, :rows => 4}
				%small.error Description is required

	.row
		.small-6.column.meeting-start-date-field
			%label
				Start date
				%small Required
				%input#meeting-start-date{:type => "date", :value => start_date, :required => true, :pattern => "date"}
				%small.error Start date is required

		.small-6.column.meeting-start-time-field

/ move this to js file
%script
	$(document).ready(function () {$("#meeting-start-date").val(new Date().toISOString().substring(0,10));});