- put ||= false
- if meeting.nil?
	- name = ""
	- description = ""
	- start_date = ""
	- start_time = ""
	- end_date = ""
	- end_time = ""
	- time_zone = "Pacific Time (US & Canada)"
	- location = ""
	- additional_instructions = ""
	- suggested_donation = ""
	- is_private = false
- else
	- name = meeting.name || ""
	- description = meeting.description || ""
	- start_date = meeting.start_date || ""
	- start_time = meeting.start_time || ""
	- end_date = meeting.end_date || ""
	- end_time = meeting.end_time || ""
	- location = meeting.location || ""
	- additional_instructions = meeting.additional_instructions || ""
	- suggested_donation = meeting.suggested_donation || ""

%form{:action => action, :method => "POST", :data => {:abide => true}}
	%input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}

	- if put
		%input{:type => "hidden", :name => "_method", :value => "PUT"}

	.row
		.small-12.column.meeting-name-field
			%label
				Meeting name
				%small Required, maximum 50 characters
				%input{:type => "text", :name => "meeting[name]", :value => name, :required => true}
				%small.error Name is required

	.row
		.small-12.column.meeting-description-field
			%label
				Description
				%small Required, maximum 500 characters
				%textarea{:name => "meeting[description]", :value => description, :placeholder => "What's this meeting about?", :required => true, :rows => 4}
				%small.error Description is required

	.row
		.small-6.columns
			Start
		.small-6.columns
			End
		.small-4.columns.meeting-start-date-field
			%label
				Date
				%small Required
				%input.date-input#meeting-start-date{:type => "date", :name => "meeting[start_date]", :value => start_date, :required => true, :pattern => "date"}
				%small.error Start date is required

		.small-2.columns.meeting-start-time-field
			%label
				Time
				%small Required
				%input.time-input#meeting-start-time{:type => "time", :name => "meeting[start_time]", :value => start_time, :required => true, :pattern => "^[0-2][0-9]:[0-5][0-9]$" }
				%small.error Start time is required

		.small-4.columns.meeting-end-date-field
			%label
				Date
				%input.date-input#meeting-end-date{:type => "date", :name => "meeting[end_date]", :value => start_date, :pattern => "date"}

		.small-2.columns.meeting-end-time-field
			%label
				Time
				%input.time-input#meeting-end-time{:type => "time", :name => "meeting[end_time]", :value => end_time, :pattern => "^[0-2][0-9]:[0-5][0-9]$" }


	.row
		.small-5.columns.meeting-time-zone-field
			%label
				Time Zone
				%small Required
				= time_zone_select("meeting", "time_zone", ActiveSupport::TimeZone.us_zones, {:default => time_zone, :required => true})
				%small.error Time Zone is required

		.small-3.columns.meeting-suggested-donation-field
			%label
				%span.has-tip{:title => "in dollars per person", :data => {:tooltip => true}}
					Suggested donation
				%input{:type => "number", :name => "meeting[suggested_donation]", :value => suggested_donation, :pattern => "number", :placeholder => 0}
				%small.error Invalid amount

		.small-4.columns.meeting-privacy-field
			%label
				%input#meeting-is-private{:type => "checkbox", :name => "meeting[is_private]", :checked => is_private}
				%span.has-tip{:title => "Only allows group members or people you invite to view this meeting",:data => {:tooltip => true}}
					Make meeting private?

	.row
		.small-6.columns.meeting-location-field
			%label
				Location address
				%small Required
			%textarea{:name => "meeting[location]", :placeholder => "Ex. City Hall, San Francisco, CA 94102", :required => true, :rows => 4}
				= location
			%small.error Please provide an address

		.small-6.columns.meeting-additional-instructions-field
			%label
				Additional instructions
			%textarea{:name => "meeting[additional_instructions]", :placeholder => "Ex. Enter code '1234' at the door; please bring a laptop with you", :rows => 4}
				= additional_instructions

	%input.button{:type => "submit", :value => (put ? "Update Meeting" : "Post Meeting")}