- put ||= false
- if user.nil?
	- username = ""
	- email = ""
	- full_name = ""
	- location = ""
	- bio = ""
	- dob = "" 
- else
	- username = user.username || ""
	- email = user.email || ""
	- full_name = user.full_name || ""
	- location = user.location || ""
	- bio = user.bio || ""
	- dob = user.date_of_birth || ""

%form{:action => action, :method => "POST"}
	%input{:type=> "hidden", :name => "authenticity_token", :value => form_authenticity_token}
	
	- if put
		%input{:type => "hidden", :name => "_method", :value => "PUT"}
	- else
		%label
			Username* (2-15 characters)
			%br
			%input{:type => "text", :name => "user[username]", :value => username}

	%br

	%label
		Email*
		%br
		%input{:type => "email", :name => "user[email]", :value => email}

	%br

	%label
		Password* (minimum 6 characters)
		%br
		%input{:type => "password", :name => "user[password]"}

	%br

	%label
		Full Name*
		%br
		%input{:type => "text", :name => "user[full_name]", :value => full_name}

	%br

	%label
		Location
		%br
		%input{:type => "text", :name => "user[location]", :value => location}

	%br

	%label
		Bio (Max 500 characters)
		%br
		%textarea{:name => "user[bio]"}
			= bio

	%br

	%label
		Date of Birth
		%br
		%input{:type => "date", :name => "user[date_of_birth]", :value => dob}

	%br
	%br
	%input{:type => "submit", :value => (put ? "Update" : "Sign Up")}