%h1 New User

%form{:action => users_url, :method => "POST"}
	%input{:type=> "hidden", :name => "authenticity_token", :value => form_authenticity_token}

	%label
		Username (2-15 characters)
		%br
		%input{:type => "text", :name => "user[username]"}

	%br

	%label
		Full Name
		%br
		%input{:type => "text", :name => "user[full_name]"}

	%br

	%label
		Email
		%br
		%input{:type => "email", :name => "user[email]"}

	%br

	%label
		Bio (Max 500 characters)
		%br
		%textarea{:name => "user[bio]"}

	%br

	%input{:type => "submit"}