.row
	%hr
	.small-2.columns
		/ member avatar
		%img.th{:src => "http://i62.tinypic.com/2dtruo6.jpg"}
	.small-6.columns
		%a{:href => "#"}
			%h4 FULL NAME
		%h6.subheader POSITION (ORGANIZER)
		%p
			Short user description
	.small-4.columns
		/if share some groups
		%h4 You're both members of
		grid of group pics