.small-12.medium-2.columns
	%ul.pricing-table
		%li.title
			City, State [, Country]
		%li.description
			Founded Month, Day, 2014
		%li.bullet-item
			%dl
				%dt
					99
				%dd
					X Members
		%li.bullet-item
			%dl
				%dt 
					14
				%dd
					Group Reviews
		%li.bullet-item
			%dl
				%dt
					55
				%dd
					Upcoming meetings
		%li.bullet-item
			%dl
				%dd
					Group calendar
		%li.bullet-item
			%h5
				Organizer:
			%h6
				Full Name
			%img.th{:src => "http://i62.tinypic.com/2dtruo6.jpg"}
			Contact
		%li.bullet-item
			We're about:
			%br
			%br
			%ul.inline-list
				%li
					Tag1
				%li
					Tag2
				%li
					Tag3
				%li
					Tag4
